* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
        "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

/*& start : ghizlane  */

/** header */
header {
    padding: 0 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.logo {
    color: #6d48e5;
    font-size: x-large;
    font-weight: bold;
}

.about {
    display: flex;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
}

button {
    width: 90px;
    height: 40px;
    background-color: #6d48e5;
    color: white;
    border: none;
    border-radius: 5px;
}

/** first section*/
.first_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height:500px; */
    width: 100%;
    gap: 1rem;
}

.part4 button {
    width: 200px;
    font-weight: bold;
}

.part5 {
    display: flex;
}

.part5 a {
    padding: 0.5rem;
}

.part5>a img {
    width: 100px;
}

/*& end : ghizlane  */

/*! start : ibrahim  */

/** second-section !*/
.second-section {
    background-color: #F6F6FD;
    /* height: 60vh; */
    padding: 3rem;
}

.first-div {
    text-align: center;
}

.second-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 20px;
}

.second-div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.second-div p {
    text-align: center;
    color: #818198;
}

.first-img {
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: #ece7fe;
}

.first-hrading {
    text-align: center;
    font-weight: 450;
}

/** third-section !*/
.third-section {
    padding: 3rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;

}

.section-div {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1rem;
}

.second-heading3 {
    text-align: center;
    font-weight: 450;
}

.second-heading2 {
    font-weight: 500;
}

.section-div a {
    color: #8798ab;
    text-decoration: none;
    font-weight: bold;
}

.section-div span {
    border-bottom: 1px #818198 solid;
}

/*! end : ibrahim  */

/*^ start : ilyass  */
/** fourth section */
.section4,
.section4-desciption,
.section4-statistics div,
.section5-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4 {
    background-color: #6d48e5;
    color: white;
    padding: 6rem 4rem;
    gap: 1rem;
}

.section4-desciption {
    padding-bottom: 1.5rem;
    gap: 0.5rem;
}

.section4-desciption h1 {
    font-size: 2rem;
    font-weight: 600;
}

.section4-desciption p {
    font-size: 1.5rem;
    font-weight: 400;
}

.section4-statistics {
    display: flex;
    gap: 5rem;
    padding-bottom: 1rem;
}

.section4-statistics div {
    gap: 0.125rem;
}

.section4-statistics h1 {
    font-size: 5rem;
}

.section4-statistics p {
    font-size: 1rem;
}

.section4-moreinfo {
    font-size: 0.75rem;
    border-bottom: 0.5px groove;
}
/*^ end : ilyass  */